<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codingrecipe.mapper.CommentMapper">
    <insert id="save" parameterType="com.codingrecipe.dto.CommentDTO">
        insert into comment_table(commentWriter, commentContents, boardId)
        values(#{commentWriter}, #{commentContents}, #{boardId})
    </insert>

    <select id="findAll" parameterType="Long" resultType="com.codingrecipe.dto.CommentDTO">
        select * from comment_table where boardId=#{boardId} order by id desc
    </select>
</mapper>